.filter-btns {
  &,
  &__topics {
    display: flex;
    gap: .25rem;
    align-items: center;
    overflow-x: auto;
    flex-wrap: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  
  &::-webkit-scrollbar,
  &__topics::-webkit-scrollbar {
    display: none;
  }
  
  &__icon {
    padding: .5rem .6rem;
    font-size: 18px;
  }
  
  &__topics button:first-child {
    color: #fff;
  }
}