.footer {
  text-align: center;
  padding: .5rem;
  color: var(--grayish);
  
  &__text {
    font-size: .9rem;
  }
  
  &__author {
    background: linear-gradient(145deg, indianred, rgb(166, 137, 245) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: bold;
    display: inline-block;
    border-bottom: 1px solid;
    text-transform: uppercase;
  }
  
  &__author:hover {
    background: linear-gradient(145deg, rgb(166, 137, 245), indianred 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
}